EMAIL_PASSWORD=<email_password>
EMAIL_USER=some_email@yandex.ru
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465

SECRET_KEY=<secret_key>
ALLOWED_HOSTS=<your_host>
CORS_ALLOWED_ORIGINS=http://<your_host>:8000, http://<your_host>
CSRF_TRUSTED_ORIGINS=http://<your_host>:8000, http://<your_host>

MEDIA_URL = "http://<your_host>:8000/"

PGHOST=<db_host>
PGPORT=<db_port>
PGDATABASE=<some_db>
PGUSER=<db_user>
PGPASSWORD=<db_password>

DJANGO_SUPERUSER_EMAIL=<your_email>
DJANGO_SUPERUSER_PASSWORD=<some_password>

